footer.footer
    .container
        .footer__row
            .footer__copyright 
                .footer__copyright-name © Snowfox95
                p.footer__copyright-subname Алексей Беспятых
                p HTML верстка и разработка сайтов
            .footer__icons 
                p Мои профили в социальных сетях:
                .footer__icons-row
                    a(href="https://vk.com/alexbespyatykh") 
                        img(src="./img/icons/vk.svg")
                    a(href="https://github.com/SnowFox-95")
                        img(src="./img/icons/github.svg")
            .footer__contacts 
                a.footer__btn(href="https://vk.me/alexbespyatykh") Связаться Вконтакте
                //p Напишите мне, чтобы заказать или узнать стоимость верстки вашего проекта.