header.header#header
    h1.header__title Алексей Беспятых
    p.header__subtitle фрилансер, веб-разработчик, создание сайтов
    a.header__arrow(href="#portfolio")
        img(src="./img/header/chevron-down.svg")