<div class="project">
    <div class="container">
        <h1 class="project__header">
            Верстка лендинга CARS
        </h1>
        <div class="project__slider">
            <picture>
                <source srcset="../../images/projects/repair/cars__full1.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full1.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full1.jpg" alt="Мастерская CARS" />
            </picture>
            <picture>
                <source srcset="../../images/projects/repair/cars__full2.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full2.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full2.jpg" alt="Мастерская CARS" />
            </picture>
            <picture>
                <source srcset="../../images/projects/repair/cars__full3.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full3.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full3.jpg" alt="Мастерская CARS" />
            </picture>
            <picture>
                <source srcset="../../images/projects/repair/cars__full4.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full4.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full4.jpg" alt="Мастерская CARS" />
            </picture>
            <picture>
                <source srcset="../../images/projects/repair/cars__full5.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full5.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full5.jpg" alt="Мастерская CARS" />
            </picture>
            <picture>
                <source srcset="../../images/projects/repair/cars__full6.avif" type="image/avif">
                <source srcset="../../images/projects/repair/cars__full6.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/repair/cars__full6.jpg" alt="Мастерская CARS" />
            </picture>

        </div>
        <div class="project__desc">
            <p>
                Верстка многостраничного сайта автомастерской.<br>
                Адаптация английского макета на русский язык. <br>
                Форма предварительной записи на ремонт
            </p>
            <a href="https://snowfox-95.github.io/Cars/index_Ru.html">
                <img src="../../images/icons/internet.svg"width="48px" height="48px" alt="">
            </a> 
            <a href="https://github.com/SnowFox-95/Cars">
                <img src="../../images/icons/source.svg" width="48px" height="48px" alt="">
            </a>

        </div>
        <div class="tech">
            <p class="tech-text">Использованные технологии</p>
            <img src="../../images/icons/html5.svg" alt="">
            <img src="../../images/icons/css-3.svg" alt="">
            <img src="../../images/icons/js.svg" alt="">
        </div>
        <div class="back">
            <a href="page-2.html">
                <img src="../../images/icons/home.svg"width="48px" height="48px"alt=""></a>
        </div>
    </div>
</div>