<div class="project">
    <div class="container">
        <h1 class="project__header">
            Верстка интернет-магазина Delicacy
        </h1>
        <div class="project__slider">
            <picture>
                <source srcset="../../images/projects/delicacy/delicacy_full1.avif" type="image/avif">
                <source srcset="../../images/projects/delicacy/delicacy_full1.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/delicacy/delicacy_full1.jpg" alt="FoodShop" />
            </picture>
            <picture>
                <source srcset="../../images/projects/delicacy/delicacy_full2.avif" type="image/avif">
                <source srcset="../../images/projects/delicacy/delicacy_full2.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/delicacy/delicacy_full2.jpg" alt="FoodShop" />
            </picture>
            <picture>
                <source srcset="../../images/projects/delicacy/delicacy_full3.avif" type="image/avif">
                <source srcset="../../images/projects/delicacy/delicacy_full3.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/delicacy/delicacy_full3.jpg" alt="FoodShop" />
            </picture>
            <picture>
                <source srcset="../../images/projects/delicacy/delicacy_full4.avif" type="image/avif">
                <source srcset="../../images/projects/delicacy/delicacy_full4.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/delicacy/delicacy_full4.jpg" alt="FoodShop" />
            </picture>

        </div>
        <div class="project__desc">
            <p>
                Верстка интернет-магазина с доставкой ПП<br>
                Мобильная адаптация, слайдер, цветная полоса прокрутки
            </p>
            <a href="https://snowfox-95.github.io/delicacy/">
                <img src="../../images/icons/internet.svg" width="48px" height="48px" alt="">
            </a>
            <a href="https://github.com/SnowFox-95/delicacy">
                <img src="../../images/icons/source.svg" width="48px" height="48px" alt="">
            </a>
            <!-- <p>Полная версия сайта находится <a href="https://snowfox-95.github.io/mersedes_avtr/"> тут </a></p>
            <p>Исходные файлы проекта <a href="https://github.com/SnowFox-95/mersedes_avtr"> тут </a></p> -->
        </div>
        <div class="tech">
            <p class="tech-text">Использованные технологии</p>
            <img src="../../images/icons/html5.svg" alt="">
            <img src="../../images/icons/css-3.svg" alt="">
            <img src="../../images/icons/js.svg" alt="">
        </div>
        <div class="back">
            <a href="page-2.html">
                <img src="../../images/icons/home.svg"width="48px" height="48px" alt=""></a>
        </div>
    </div>
</div>