<div class="project">
    <div class="container">
        <h1 class="project__header">
            Rymo
        </h1>
        <div class="project__slider">
            <picture>
                <source srcset="../../images/projects/rymo/rymo_1.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_1.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_1.jpg" alt="fashionLand" />
            </picture>
            <picture>
                <source srcset="../../images/projects/rymo/rymo_2.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_2.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_2.jpg" alt="fashionLand" />
            </picture>
            <picture>
                <source srcset="../../images/projects/rymo/rymo_3.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_3.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_3.jpg" alt="fashionLand" />
            </picture>
            <picture>
                <source srcset="../../images/projects/rymo/rymo_4.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_4.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_5.jpg" alt="fashionLand" />
            </picture>
            <picture>
                <source srcset="../../images/projects/rymo/rymo_5.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_5.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_5.jpg" alt="fashionLand" />
            </picture>
            <picture>
                <source srcset="../../images/projects/rymo/rymo_6.avif" type="image/avif">
                <source srcset="../../images/projects/rymo/rymo_6.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/rymo/rymo_6.jpg" alt="fashionLand" />
            </picture>
            

        </div>
        <div class="project__desc">
            <p>
                Верстка многостраничного магазина одежды<br>
                Мобильная адаптация, bootstrap, parallax-эффекты, работа с иконками
            </p>
            <a href="https://snowfox-95.github.io/Rymo-shop/">
                <img src="../../images/icons/internet.svg" width="48px" height="48px" alt="">
            </a>
            <a href="https://github.com/SnowFox-95/Rymo-shop">
                <img src="../../images/icons/source.svg" width="48px" height="48px" alt="">
            </a>
            <!-- <p>Полная версия сайта находится <a href="https://snowfox-95.github.io/mersedes_avtr/"> тут </a></p>
            <p>Исходные файлы проекта <a href="https://github.com/SnowFox-95/mersedes_avtr"> тут </a></p> -->
        </div>
        <div class="tech">
            <p class="tech-text">Использованные технологии</p>
            <img src="../../images/icons/html5.svg" alt="">
            <img src="../../images/icons/css-3.svg" alt="">
            <img src="../../images/icons/js.svg" alt="">
        </div>
        <div class="back">
            <a href="page-4.html">
                <img src="../../images/icons/home.svg" width="48px" height="48px" alt=""></a>
        </div>
    </div>
</div>