<div class="project">
    <div class="container">
        <h1 class="project__header">
            TravelX
        </h1>
        <div class="project__slider">
            <picture>
                <source srcset="../../images/projects/travelX/travelX-1.avif" type="image/avif">
                <source srcset="../../images/projects/travelX/travelX-1.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/travelX/travelX-1.jpg" alt="Relvise" />
            </picture>
            <picture>
                <source srcset="../../images/projects/travelX/travelX-2.avif" type="image/avif">
                <source srcset="../../images/projects/travelX/travelX-2.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/travelX/travelX-2.jpg" alt="Relvise" />
            </picture>
            <picture>
                <source srcset="../../images/projects/travelX/travelX-3.avif" type="image/avif">
                <source srcset="../../images/projects/travelX/travelX-3.webp" type="image/webp">
                <img class="project__img" src="../../images/projects/travelX/travelX-3.jpg" alt="Relvise" />
            </picture>


        </div>
        <div class="project__desc">
            <p>
                Одностраничник для турагенства<br>
                Слайдер, оригинальная загрузка страницы
            </p>
            <a href="https://snowfox-95.github.io/travelX/">
                <img src="../../images/icons/internet.svg" width="48px" height="48px" alt="">
            </a>
            <a href="https://github.com/SnowFox-95/travelX">
                <img src="../../images/icons/source.svg" width="48px" height="48px" alt="">
            </a>
            <!-- <p>Полная версия сайта находится <a href="https://snowfox-95.github.io/mersedes_avtr/"> тут </a></p>
            <p>Исходные файлы проекта <a href="https://github.com/SnowFox-95/mersedes_avtr"> тут </a></p> -->
        </div>
        <div class="tech">
            <p class="tech-text">Использованные технологии</p>
            <img src="../../images/icons/html5.svg" alt="">
            <img src="../../images/icons/css-3.svg" alt="">
            <img src="../../images/icons/js.svg" alt="">
        </div>
        <div class="back">
            <a href="page-3.html">
                <img src="../../images/icons/home.svg" width="48px" height="48px" alt=""></a>
        </div>
    </div>
</div>