.footer {
	padding: 40px 0 130px 0;
	background: #12437be9;
	color: white;
	flex: 0 0 auto;

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__copyright {
		max-width: 350px;
		color: #fff;
		line-height: 1.3;
		flex-grow: 1;

		p {
			margin: 0;
			margin-bottom: 15px;
			margin-left: 20px;
			font-weight: 600;
			font-size: 16px;
			color: #fff;
		}

		&-name {
			font-weight: 700;
			font-size: 28px;
			margin-bottom: 15px;
		}

		&-subname {
			font-weight: 700;
			font-size: 20px !important;
		}
	}



	&__icons {
		max-width: 350px;
		flex-grow: 1;

		p {
			font-weight: 600;
			font-size: 16px;
			line-height: 1.3;
		}

		&-row {
			display: flex;
			align-items: center;
			justify-content: space-around;

			&>*+* {
				margin-left: 30px;
			}
		}
	}

	&__contacts {
		min-width: 350px;
		flex-grow: 1;

		p {
			margin: 15px 0;
			font-size: 16px;
			line-height: 1.3;
			color: #fff;
		}
	}

	&__btn {
		display: inline-block;
		height: 50px;
		padding-left: 30px;
		padding-right: 30px;
		border: 3px solid #fff;
		border-radius: 50px;
		font-weight: 700;
		font-size: 16px;
		line-height: 44px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		transition: all 0.2s ease-in;

		&:hover {
			background-color: #fff;
			color: #3c5371;
		}
	}
}