<section class="learn" id='learn'>
    <div class="container">
        <h1 class="learn__header">Созданные проекты</h1>
        <div class="portfolio__card-wrapper">
            <!--=include ./project_card/card-1.html -->
            <!--=include ./project_card/card-2.html -->
            <!--=include ./project_card/card-3.html -->
            <!-- =include ./project_card/card-4.html -->
        </div>
        <div class="pag">
            <span><a href="">←</a> </span>
            <span><a href="">1</a></span>
            <!-- <span><a href="">2</a></span> -->
            <!-- <span>..</span> -->
            <span><a href="">→</a></span>
        </div>
    </div>

</section>

<a href="../index.html">Домой</a>