<section class="learn" id='learn'>
    <div class="container">
        <h1 class="learn__header">Созданные проекты</h1>
        <div class="portfolio__card-wrapper"> <!-- !!!only 3 cards -->
            <!--=include ./project_card/card-1.html -->
            <!--=include ./project_card/card-2.html -->
            <!--=include ./project_card/card-3.html -->
            
        </div>
        <div class="pag">
            <!-- <span><a class="pag__link" href="">←</a> </span> -->
            <span><a class="pag__link active-1" href="#">1</a></span>
            <span><a class="pag__link" href="page-2.html">2</a></span>
            <span><a class="pag__link" href="page-3.html">3</a></span>
            <!-- <span>..</span> -->
            <span><a class="pag__link" href="page-3.html">→</a></span>
        </div>
        <a class="home__link" href="../../index.html"><img src="../../../images/icons/home.svg" alt=""></a>
    </div>

</section>