.category
    a.category__link(href="./learn.html")
        img.category__img(src="./img/category/02.png")
        h3.category__title Самостоятельные проекты
        p Сайты сверстанные <br>самостоятельно
