.category
    a.category__link(href="./learn.html")
        img.category__img(src="./img/category/01.png")
        h3.category__title Учебные проекты
        p Сайты сверстанные <br>по разнообразным урокам