main
    section.portfolio#portfolio
        .container
            h2.portfolio__header  Учебные проекты
            .portfolio__card-wrapper 
                include card/card-1
                include card/card-2
                include card/card-3
                include card/card-4