header.header#header
    h1.header__title  Алексей Беспятых
    p.header__subtitle фрилансер, веб-разработчик, создание сайтов
    a(class="header__arrow" href="#portfolio")
        img(src='./../../img/chevron-down.svg')