<div class="card">
    <a class="card__link" href="./LearnProjects/relvise.html"> 
        <picture>
            <source srcset="../images/portfolio/relvise.avif" type="image/avif">
            <source srcset="../images/portfolio/relvise.webp" type="image/webp">
            <img class="card__img" src="../images/portfolio/relvise.png" alt="" srcset="">
        </picture>
        <h3 class="card__title">Работа #3</h3>
        <p style="margin-bottom: 17px;padding-top: 9px;">Верстка сайта-визитки</p>
    </a>
</div>