<div class="card">
    <a class="card__link" href="./LearnProjects/relvise.html"> <!-- #TODO -->
        <picture>
            <source srcset="../images/portfolio/relvise.avif" type="image/avif">
            <source srcset="../images/portfolio/relvise.webp" type="image/webp">
            <img class="card__img" src="../images/portfolio/relvise.png" alt="" srcset="">
        </picture>
        <h3 class="card__title">Работа #7
            
        </h3>
        <p>Верстка одностраничного сайта</p>
    </a>
</div>