<div class="category">
    <a class="category__link" href="./pages/learn/page-1.html">
        <picture>
            <source srcset="./images/category/card-01.avif" type="image/avif">
            <source srcset="./images/category/card-01.webp" type="image/webp">
            <img class="category__img" src="./images/category/card-01.png" alt="" srcset="">
        </picture>
        <h3 class="category__title">Учебные проекты</h3>
        <p>Сайты сверстанные <br>по разнообразным урокам</p>
    </a>
</div>